@model client.Web.Models.DoctorsInformationEditModel

<div class="d_doctorsNipDisplay">
    <div class="row">
        <div class="left">
            <div class="row">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.LICENSE)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LICENSE)
                </div>
            </div>
            <div class="row">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.LICENSEEXPIRESONSTRING)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LICENSEEXPIRESONSTRING)
                </div>
            </div>
        </div>
        <div class="left">
            <div class="row">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.LICENSEIN)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.LICENSEIN)
                </div>
            </div>
            <div class="row">
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.PRACTISESINCESTRING)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.PRACTISESINCESTRING)
                </div>
            </div>
        </div>

    </div>





</div>
