@model client.Web.Models.DoctorsInformationEditModel


<div class="d_doctorseduDisplay">
    <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.EDUCATIONALQUAL)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.EDUCATIONALQUAL)           
        </div>
    </div>

      <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.CERTIFICATIONBOARD)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.CERTIFICATIONBOARD)           
        </div>
    </div>

      <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.HOSPITALAFFILIATION)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.HOSPITALAFFILIATION)           
        </div>
    </div>

     <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.PROFESSIONALMEMBERSHIP)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.PROFESSIONALMEMBERSHIP)           
        </div>
    </div>

     <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.ABOUTME)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ABOUTME)           
        </div>
    </div>

      <div class="row">
        <div class="editor-label">
            @Html.LabelFor(model => model.AWARDCERTIFICATION)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.AWARDCERTIFICATION)           
        </div>
    </div>

</div>
