@model DOCVIDEO.Domain.USERSINFORMATION

@{
    ViewBag.Title = "Change Password";
}
<div id="pass_box" >
    <div id="pass_con">
        <p>
            Use the form below to change your password. 
        </p>
        
         <input id="MessageUpdateStatus" disabled="disabled" type="text"    />
        <div>
   
            <div>
                <fieldset>
                    <legend>Account Information</legend>

                    <div class="row">
                        <div class="left">
                        <div class="editor-label" style="margin-top:18px;">
                        @Html.LabelFor(m => m.OldPassword)
                    </div>
                            </div>
                        <br />
                        
                        <div class="left">
                        <div class="editor-field" >
                        @Html.PasswordFor(m => m.OldPassword, new {  @Value = "", maxlength = "36" })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                            </div>
                        <div class="clear"></div>
                    </div>

                    <div class="row">
                       <div class="left"> <div class="editor-label">
                        @Html.LabelFor(m => m.NewPassword)
                    </div> </div>
                       <div class="left" style="float:left !important;width: 200px;"> 
                           <div class="editor-field" style="margin-left:18px;height: 30px;">
                        @Html.PasswordFor(m => m.NewPassword, new {  @Value = "", maxlength = "36" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div> </div>
                        <div class="clear"></div>
                    </div>

                    <div class="row">
                        <div class="left"><div class="editor-label" style="margin-left: -2px;">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </div> </div>
                       <div class="left"> <div class="editor-field">
                        @Html.PasswordFor(m => m.ConfirmPassword, new {  @Value = "", maxlength = "36"})
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div> </div>
                     <div class="clear"></div>
                    </div>
                    <div class="c_buttonContainer" style="width: 94%;">
                        <div class="right">
                    <div class="buttonsWrapper">
                        <input type="button" value="Change Password" id="btnChangedpassword" class="button" style="margin-left:580px !important;"/>                    
                    </div>
                            </div>
                        </div>
                </fieldset>
            </div>
      
    </div>
</div>
    </div>
<script>
       
    
    $(document).ready(function () {
        $("#OldPassword").on("focus", function () {
            $("#MessageUpdateStatus").hide();
            $('.validation-summary-errors').hide();
        });
        $("#OldPassword").val('');
        $("#NewPassword").val('');
        $("#ConfirmPassword").val('');
        $("#textContainers > p").html("");
        var myPSPlugin = $('#NewPassword').password_strength();
            $("#btnChangedpassword").click(function (e) {
                    var userinformation = new Object();
                    var datavalue = null;                  
                    userinformation.OldPassword = $("#OldPassword").val();
                    userinformation.NewPassword = $("#NewPassword").val();
                    userinformation.ConfirmPassword = $("#ConfirmPassword").val();
                                  
                    $.ajax({
                        async: false,
                        type: "POST",
                        cache: false,
                        dataType: 'json',
                        url: "/PatientProfile/_changepassword",
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {                           
                            $("#MessageUpdateStatus").val(msg.msg);
                            $("#OldPassword").val('');
                            $("#NewPassword").val('');
                            $("#ConfirmPassword").val('');

                            if ($("#MessageUpdateStatus").val().length > 0) {
                                $("#MessageUpdateStatus").show();
                            } else {
                                $("#MessageUpdateStatus").hide();
                            }
                            if ($('#MessageUpdateStatus').val().indexOf('Error') > -1) {
                                $('#MessageUpdateStatus').addClass('MessageUpdateStatus');
                            } else if ($('#MessageUpdateStatus').val().indexOf('Error') == -1) {
                                $('#MessageUpdateStatus').removeClass();
                                $('#MessageUpdateStatus').addClass('MessageUpdateStatusNormal');
                            }
                        },
                        data: JSON.stringify(userinformation),
                    });


                });             
         
           
        });

       
    </script>